<table>
  <thead>
    <tr>
      <th>Tipo Rodado</th>
      <th>Veículos (Disponível)</th>
      <th>Veículos (Indisponível)</th>
      <th>Motoristas (Disponível)</th>
      <th>Motoristas (Indisponível)</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for r in linhas %}
    <tr>
      <td>{{ r.tipo }}</td>
      <td>{{ r.veic_disp }}</td>
      <td>{{ r.veic_indisp }}</td>
      <td>{{ r.mot_disp }}</td>
      <td>{{ r.mot_indisp }}</td>
      <td>{{ r.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
