{% extends "base.html" %}
{% block content %}
<h1>Consolidado do dia</h1>
<p><b>Data de operação:</b> {{ data_ref.strftime("%d/%m/%Y") }}</p>

<table>
  <thead>
    <tr>
      <th>Tipo Rodado</th>
      <th>Veículos (Disponível)</th>
      <th>Veículos (Indisponível)</th>
      <th>Motoristas (Disponível)</th>
      <th>Motoristas (Indisponível)</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for l in linhas %}
      <tr>
        <td>{{ l.tipo }}</td>
        <td>{{ l.veiculos_disp }}</td>
        <td>{{ l.veiculos_indisp }}</td>
        <td>{{ l.motoristas_disp }}</td>
        <td>{{ l.motoristas_indisp }}</td>
        <td>{{ l.status }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
