{% extends "base.html" %}
{% block content %}
<h1>Controle diário (D-1)</h1>

<form method="get" action="/">
  <label>Data de operação:</label>
  <input type="date" name="data" value="{{ data_ref.isoformat() }}">
  <button type="submit">Abrir</button>
</form>

{% set d = request.args.get('data', data_ref.isoformat()) %}

<div class="cards">
  <a class="card" href="{{ url_for('disp_motoristas', data=d) }}">Disponibilidade • Motoristas</a>
  <a class="card" href="{{ url_for('disp_veiculos', data=d) }}">Disponibilidade • Veículos</a>
  <a class="card" href="{{ url_for('consolidado', data=d) }}">Consolidado do dia</a>
</div>
{% endblock %}
